body {
    color: white;
    background-image: url(src="")
}

.login-buttons {
	float:right;
	margin: 3px;
}

.logo {
	padding-top: 60px;
}

#username, #password, #confirmPassword {
	border-radius: 20px;
}


#error {
	display: none;
}
