body {
    color: white;
    background-image: url(src="")
}

.login-buttons {
	float:right;
	margin: 3px;
}

.logo {
	padding-top: 60px;
}

#username, #password, #confirmPassword {
	border-radius: 20px;
}


#error {
	display: none;
}

.anonymous {
	display: none;
}

/*.name {
	margin: 10px 10px 0px 10px ;

}

.username {
	
	margin: 0px 10px 10px 10px;
}*/
.profile-pic {
	float: right;
	
}
.attr {
	margin: 10px 10px 0px 10px ;
}

h4.attr {
	margin: 10px 10px 10px 10px ;	
}

.profile {
	color: black;
	margin: 10px 10px 0px 10px ;
}


ul#messages {
	overflow-y: scroll;
	height: 300px
}
form.messages { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; overflow-y: scroll;}
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li.sender { padding: 5px 10px; background: #eee;}
      #messages li.error { padding: 5px 10px; background: red;}
      #messages li.notification { padding: 5px 10px; background: orange;}
      #messages li.receiver { padding: 5px 10px; background: white; }
      /*#messages li:nth-child(odd) { background: #eee; }*/
