.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 10px 10px 10px 10px;
  position: absolute;
  left: 0px;
  width: 300px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.invalid {
  border-color: red;
}