extends ./base.jade

block stylesheets
    link(href='/css/index.css', rel='stylesheet')


block content
    .container.text-center
        .logo
            img(src='/img/gradr_logo.png')
        hr
        p.lead
            | Gradr is a study buddy finder based on current dating applications.
    
    .container.alert.alert-danger#error(role='alert')
        span.glyphicon.glyphicon-exclamation-sign
        span.sr-only
            |Error:
        |  Oops! Something went wrong. Invalid username/password.

    .container
        form#login-form(role=form)
            .form-group
                label(for='username')
                    | Username
                input#username.form-control(type='username')
            .form-group
                label(for='password')
                    |Password
                input.form-control#password(type='password')
            .checkbox
                label
                    input(type='checkbox') 
                    | Remember me

            
            button.btn.btn-primary.login-buttons(type='submit') Login
            a(role='button' href='/signup').btn.btn-warning.login-buttons Sign up

block scripts
   script(src='/js/login.js') 