extends ./base.jade

block stylesheets
    link(href='/css/swipe.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/index.css', rel='stylesheet')


block content
    .container.text-center
        .logo
            img(src="/img/gradr_logo.png")
        hr
        p.lead
            | Gradr is a study buddy finder based on current dating applications.
    
    .container
        form(role=form)
            .form-group
                label(for="firstname")
                    | First Name
                input.form-control#firstname(type="text", value = data.firstname)
            .form-group
                label(for="lastname")
                    | Last Name
                input.form-control#lastname(type="text", value = data.lastname)
            .form-group
                label(for="city")
                    | City
                input.form-control#city(type="text", value = data.city)
            .form-group
                label(for="country")
                    | Country
                input.form-control#country(type="text", value = data.country)
            .form-group
                label(for="school")
                    | School
                input.form-control#school(type="text", value = data.school)
            .form-group
                label(for="courses")
                    | Courses
                input.form-control#courses(type="text", value = data.courses)
            .form-group
                label(for="generalDescription")
                    | Other details
                input.form-control#generalDescription(type="text", value = data.generalDescription)
            .form-group
                label(for="helpDescription")
                    | Description of what you are looking for help with
                input.form-control#helpDescription(type="text", value = data.helpDescription)
            .form-group
                label(for="dateOfBirth")
                    | Date Of Birth (YYYY-MM-DD)
                input.form-control#dateOfBirth(type="text", value = data.dateOfBirth.getUTCFullYear() + '-' + (data.dateOfBirth.getUTCMonth()+1) + '-' + data.dateOfBirth.getUTCDate())

            button.btn.btn-success.pull-right#registerButton(type="submit") Update Profile
            a(href="/profile" role="button").btn.btn-warning.pull-right Cancel
   
block scripts
   script(src='/js/profileForm.js') 
