extends ./base.jade

block stylesheets
    link(href='/css/swipe.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

block content
    .row.vcenter
        .container 
            .thumbnail
                img(src="http://thecatapi.com/api/images/get?format=src&type=gif").img-thumbnail
                .caption
                        p
                            a(href="/main" role="button").btn.btn-primary Like
                            a(href="/main" role="button").btn.btn-danger.pull-right Dislike 

                        h3 Joe Schmoe
                        p 
                            ul
                                li GPA: 3.4
                                li Major: Computer Science
                                li Study habits: 4 days a week for a few hours each time

