<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se2.gradr.gradr">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- These permissions were put in by default. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- When we remove the above default permissions, the program crashes. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".SwipeActivity"
            android:label="@string/title_activity_swipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchListActivity"
            android:label="@string/title_activity_match_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMatchActivity"
            android:label="@string/title_activity_view_match"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>
